<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>admin</h1>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Edit User</th>
            <th>Delete User</th>
        </tr>
        <tr>
        <tr th:each="user :${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getPassword()}"></td>

            <td>
                <a th:href="@{/edit(id=${user.id})}">Edit</a>
            </td>
            <td>
                <form th:action="@{/users/delete}" method="post">
                    <input type="hidden" name="id" th:value="${user.getId()}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>


    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <br/>
    <a href="/new">Create new user</a>


    <br/>
    <a href="/logout">Exit from this user</a>

    <br/>
</div>

</body>
</html>